<!DOCTYPE html>
<html>
<head><title>Register Customer</title></head>
<body>
    <h1>Register Customer</h1>
    <form method="post">
        Name: <input type="text" name="name"><br>
        Date of Registration: <input type="date" name="date_of_registration"><br>
        Address: <input type="text" name="address"><br>
        City: <input type="text" name="city"><br>
        PIN: <input type="text" name="pin"><br>
        Phone: <input type="text" name="phone"><br>
        Email: <input type="email" name="email"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>